body{
    background-color: rgb(245, 245, 250);
    font-family: sans-serif;
}
.box{
    background-color: white;
    max-width: 500px;
    border-radius: 9px;
    padding: 30px;
    display: block;
    margin: 30px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
h1{
    text-align: center;
    font-size: 40px;
}

h2{
    margin: 0 0 5px;}
select{
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 19px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.city{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 6px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2)
}
.city:last-child {
    border: none;}

.time{
    font-size: 38px;
    font-weight: bold;
}
.date{
    opacity: 0.7;
}
small{
    font-size: 1.5rem;
    vertical-align: middle;
}
a{
    color: #7452CA;
}
footer{
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

/* mobile */
@media screen  and (max-width: 480px){
    h2{
        font-size: 1em;
    }
    .date{
        font-size: 0.7em;
    }
    .time{
        font-size: 1.8em;
    }
    small{
        font-size: 1em;
    }
    footer{
        font-size:0.6em;
    }
}

